.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
}

.nav-items > ul {
   display: flex;
   font-size: 24px;
}

.nav-items > ul > li{
  display: flex;
  margin: 10px;
  padding: 10px;
}

.res-body {
  width: 100px;
  height: 200px;
  border: 1 px solid black;
}

.shimmer-conatainer {
  display: flex;
  flex-wrap: wrap;

}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background: #f0f0f0;
}

.login {
  padding: 0 20px;
  cursor: pointer;
}

